<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <!-- Pattern with timestamp, log level, method name, and blue color -->
                <Pattern>
                    %highlight{%d{yyyy-MM-dd HH:mm:ss} [%level] %M - %msg%n}{FATAL=red,bold ERROR=red, WARN=yellow, INFO=blue, DEBUG=green, TRACE=magenta}
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger with ERROR level -->
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>
